.container-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.separator {
  border-left: 1px solid black;
  height: 100px;
}

.error-message {
  margin-top: 2px;
  color: rgb(182, 17, 17);
  font-size: 14px;
}
